* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$tablet: "577px";
$desktop: "992px";

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.outfit_bold {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  text-transform: capitalize;
}

.outfit_medium {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: large;
}

body {
  display: grid;
  grid-template-areas:
    "header"
    "filter"
    "main"
    "banner"
    "footer";
  height: 100vh;
  grid-template-rows: 80px 70px 1fr 30px 80px;

  header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(1, 1, 58);

    .logo {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    i {
      color: white;
      font-size: 20px;
    }

    .nav_menu {
      list-style: none;
    }
    .menu_icons {
      display: flex;
      justify-content: center;
      gap: 20px;
    }

    #menu {
      display: none;
    }

    nav {
      display: none;
    }
  }

  .filter {
    grid-area: filter;
    background-color: #7e1125;
    color: rgba(252, 252, 0, 0.87);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #filter {
      border: none;
      border-radius: 3px;
    }
  }

  main {
    grid-area: main;
    display: grid;
    padding: 10px;
    background-color: rgb(1, 1, 58);
    justify-content: center;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(200px 1fr));
    overflow-y: auto;
    scrollbar-width: none;

    .cards {
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      padding: 10px;
      max-width: 300px;
      gap: 20px;
      align-items: center;
      border: solid 2px gray;
      background-color: white;

      button {
        color: rgba(252, 252, 0, 0.87);
        border: none;
        width: 80px;
        height: 25px;
        border-radius: 10px;
        background-color: rgb(1, 1, 58);
      }

      button:hover {
        color: rgb(1, 1, 58);
        background-color: rgba(252, 252, 0, 0.87);
      }

      img {
        width: 200px;
        box-shadow: 6px 6px 6px gray;
      }
    }
    .pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgba(252, 252, 0, 0.87);

      .pagination_list {
        list-style: none;
        gap: 5px;
        display: flex;
        flex-direction: row;

        li {
          text-align: center;
          width: 18px;
          height: 18px;
          border-radius: 5px;
        }
        li:hover {
          color: rgb(1, 1, 58);
          background-color: rgba(252, 252, 0, 0.87);
        }
      }
    }
  }

  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(1, 1, 58);
    grid-area: banner;
    display: flex;
    background-color: rgba(252, 252, 0, 0.87);
    height: 30px;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    grid-area: footer;
    background-color: rgb(1, 1, 58);
  }
}

@media screen and (min-width: $tablet) and (max-width: $desktop) {
  body {
    grid-template-areas:
      "header header header"
      "filter main main"
      "banner banner banner"
      "footer footer footer";
    grid-template-rows: 80px 1fr 30px 80px;
    grid-template-columns: 150px 1fr 1fr;

    header {
      .logo {
        i {
          display: none;
        }
      }
      nav {
        display: block;
      }

      .nav_menu {
        color: rgba(252, 252, 0, 0.87);
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        font-size: 10px;
      }
    }

    main {
      display: flex;
      justify-content: center;
      align-items: center;
      grid-area: main;
      display: grid;
      padding: 10px;
      background-color: rgb(1, 1, 58);
      grid-gap: 30px;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      overflow-y: auto;

      .pagination {
        display: none;
      }
    }

    .filter {
      justify-content: start;
      gap: 20px;

      #filter {
        width: 120px;
      }
    }
  }
}

@media screen and (min-width: $desktop) {
  body {
    grid-template-areas:
      "header filter filter"
      "header main main"
      "banner main main"
      "footer main main";
    grid-template-rows: 80px 1fr 30px 80px;
    grid-template-columns: 300px 1fr 1fr;

    header {
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: 40px;

      .menu_icons {
        display: none;
      }

      .logo {
        i {
          display: none;
        }
      }
      nav {
        display: block;
      }

      .nav_menu {
        color: rgba(252, 252, 0, 0.87);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        font-size: 20px;
      }
    }

    main {
      display: flex;
      justify-content: center;
      align-items: center;
      grid-area: main;
      display: grid;
      padding: 10px;
      background-color: rgb(1, 1, 58);
      grid-gap: 30px;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      overflow-y: auto;
    }

    .filter {
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding: 20px;

      #filter {
        width: 100%;
      }
    }
  }
}
